.courses__user-details{
    display: flex;
    justify-content: space-around;
    align-items: center;
    transform: translateY(50%);
    margin: 3rem 0 0;
}


.course__title-btn{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}


.course__btn{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.69rem 3rem;
    background-color: var(--color-primary-2);
}

.users__details{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.user__img{
    width: 5rem;
    border-radius: 50%;
}

.display__name {
    font-weight: 700;
    margin-bottom: 1.59rem;
}
.email {
    font-weight: 600;
    font-size: 0.89rem;
}

 .text {
        font-weight: 500;
        font-size: 0.85rem;
        text-align: center;
        letter-spacing: 0.19rem;
 }

 .btn__small{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 3rem;
    margin-top: 1rem;
 }